$ms-icon-appbaracorn: "\e600";
$ms-icon-appbaradd: "\e601";
$ms-icon-appbaradobeacrobat: "\e602";
$ms-icon-appbaradobeaftereffects: "\e603";
$ms-icon-appbaradobeaudition: "\e604";
$ms-icon-appbaradobebridge: "\e605";
$ms-icon-appbaradobedreamweaver: "\e606";
$ms-icon-appbaradobeencore: "\e607";
$ms-icon-appbaradobefireworks: "\e608";
$ms-icon-appbaradobeflash: "\e609";
$ms-icon-appbaradobeflashbuilder: "\e60a";
$ms-icon-appbaradobeillustrator: "\e60b";
$ms-icon-appbaradobeindesign: "\e60c";
$ms-icon-appbaradobelightroom: "\e60d";
$ms-icon-appbaradobephotoshop: "\e60e";
$ms-icon-appbaradobeprelude: "\e60f";
$ms-icon-appbaradobepremierpro: "\e610";
$ms-icon-appbaradobespeedgrade: "\e611";
$ms-icon-appbaralert: "\e612";
$ms-icon-appbaralien: "\e613";
$ms-icon-appbaraligncenter: "\e614";
$ms-icon-appbaralignjustify: "\e615";
$ms-icon-appbaralignleft: "\e616";
$ms-icon-appbaralignright: "\e617";
$ms-icon-appbaranchor: "\e618";
$ms-icon-appbarappfavorite: "\e619";
$ms-icon-appbarappminus: "\e61a";
$ms-icon-appbarappplus: "\e61b";
$ms-icon-appbarappremove: "\e61c";
$ms-icon-appbarapp: "\e61d";
$ms-icon-appbararcadebutton: "\e61e";
$ms-icon-appbararchive: "\e61f";
$ms-icon-appbararrowcollapsed: "\e620";
$ms-icon-appbararrowcornerupright: "\e621";
$ms-icon-appbararrowdown: "\e622";
$ms-icon-appbararrowdownup: "\e623";
$ms-icon-appbararrowexpand: "\e624";
$ms-icon-appbararrowleftright: "\e625";
$ms-icon-appbararrowleft: "\e626";
$ms-icon-appbararrowrightleft: "\e627";
$ms-icon-appbararrowright: "\e628";
$ms-icon-appbararrowupdown: "\e629";
$ms-icon-appbararrowup: "\e62a";
$ms-icon-appbarat: "\e62b";
$ms-icon-appbaraxisthree: "\e62c";
$ms-icon-appbarbaby: "\e62d";
$ms-icon-appbarbarcode: "\e62e";
$ms-icon-appbarbaseselect: "\e62f";
$ms-icon-appbarbase: "\e630";
$ms-icon-appbarbath: "\e631";
$ms-icon-appbarbattery0: "\e632";
$ms-icon-appbarbattery1: "\e633";
$ms-icon-appbarbattery2: "\e634";
$ms-icon-appbarbattery3: "\e635";
$ms-icon-appbarbed: "\e636";
$ms-icon-appbarbeerguinness: "\e637";
$ms-icon-appbarbeer: "\e638";
$ms-icon-appbarbikeparking: "\e639";
$ms-icon-appbarbike: "\e63a";
$ms-icon-appbarbillboard: "\e63b";
$ms-icon-appbarbing: "\e63c";
$ms-icon-appbarbookcontact: "\e63d";
$ms-icon-appbarbookhardcoveropen: "\e63e";
$ms-icon-appbarbookhardcoveropenwriting: "\e63f";
$ms-icon-appbarbooklist: "\e640";
$ms-icon-appbarbookopeninformation: "\e641";
$ms-icon-appbarbookopen: "\e642";
$ms-icon-appbarbookopentextimage: "\e643";
$ms-icon-appbarbookopentext: "\e644";
$ms-icon-appbarbookperspectivehelp: "\e645";
$ms-icon-appbarbookperspective: "\e646";
$ms-icon-appbarbookside: "\e647";
$ms-icon-appbarbook: "\e648";
$ms-icon-appbarborderall: "\e649";
$ms-icon-appbarborderbottom: "\e64a";
$ms-icon-appbarborderhorizontal: "\e64b";
$ms-icon-appbarborderinner: "\e64c";
$ms-icon-appbarborderleft: "\e64d";
$ms-icon-appbarbordernone: "\e64e";
$ms-icon-appbarborderoutside: "\e64f";
$ms-icon-appbarborderright: "\e650";
$ms-icon-appbarbordertop: "\e651";
$ms-icon-appbarbordervertical: "\e652";
$ms-icon-appbarboxlayered: "\e653";
$ms-icon-appbarbox: "\e654";
$ms-icon-appbarboxunfolded: "\e655";
$ms-icon-appbarbrowserchrome: "\e656";
$ms-icon-appbarbrowserie: "\e657";
$ms-icon-appbarbrowser: "\e658";
$ms-icon-appbarbrowserwire: "\e659";
$ms-icon-appbarbugremove: "\e65a";
$ms-icon-appbarbug: "\e65b";
$ms-icon-appbarcabinetfiles: "\e65c";
$ms-icon-appbarcabinetfilesvariant: "\e65d";
$ms-icon-appbarcabinetin: "\e65e";
$ms-icon-appbarcabinetout: "\e65f";
$ms-icon-appbarcabinet: "\e660";
$ms-icon-appbarcabinetvariant: "\e661";
$ms-icon-appbarcalculator: "\e662";
$ms-icon-appbarcalendar14: "\e663";
$ms-icon-appbarcalendar31: "\e664";
$ms-icon-appbarcalendarday: "\e665";
$ms-icon-appbarcalendardollar: "\e666";
$ms-icon-appbarcalendarmonth: "\e667";
$ms-icon-appbarcalendarrange: "\e668";
$ms-icon-appbarcalendar: "\e669";
$ms-icon-appbarcalendarweek: "\e66a";
$ms-icon-appbarcalendaryear: "\e66b";
$ms-icon-appbarcameraauto: "\e66c";
$ms-icon-appbarcameraflashautoselected: "\e66d";
$ms-icon-appbarcameraflashauto: "\e66e";
$ms-icon-appbarcameraflashoffselected: "\e66f";
$ms-icon-appbarcameraflashoff: "\e670";
$ms-icon-appbarcameraflashselected: "\e671";
$ms-icon-appbarcameraflash: "\e672";
$ms-icon-appbarcamerasend: "\e673";
$ms-icon-appbarcamera: "\e674";
$ms-icon-appbarcameraswitchinvert: "\e675";
$ms-icon-appbarcameraswitch: "\e676";
$ms-icon-appbarcancel: "\e677";
$ms-icon-appbarcandle: "\e678";
$ms-icon-appbarcandycane: "\e679";
$ms-icon-appbarcard1: "\e67a";
$ms-icon-appbarcard2: "\e67b";
$ms-icon-appbarcard3: "\e67c";
$ms-icon-appbarcard4: "\e67d";
$ms-icon-appbarcard5: "\e67e";
$ms-icon-appbarcard6: "\e67f";
$ms-icon-appbarcard7: "\e680";
$ms-icon-appbarcard8: "\e681";
$ms-icon-appbarcard9: "\e682";
$ms-icon-appbarcard: "\e683";
$ms-icon-appbarcardsclub: "\e684";
$ms-icon-appbarcardsdiamond: "\e685";
$ms-icon-appbarcardsheart: "\e686";
$ms-icon-appbarcardsspade: "\e687";
$ms-icon-appbarcart: "\e688";
$ms-icon-appbarcdeject: "\e689";
$ms-icon-appbarcd: "\e68a";
$ms-icon-appbarcellalign: "\e68b";
$ms-icon-appbarcellcolumndelete: "\e68c";
$ms-icon-appbarcelldown: "\e68d";
$ms-icon-appbarcellfunction: "\e68e";
$ms-icon-appbarcellinsertabove: "\e68f";
$ms-icon-appbarcellinsertbelow: "\e690";
$ms-icon-appbarcellmerge: "\e691";
$ms-icon-appbarcellrowdelete: "\e692";
$ms-icon-appbarcellup: "\e693";
$ms-icon-appbarcenterline: "\e694";
$ms-icon-appbarchat: "\e695";
$ms-icon-appbarcheck: "\e696";
$ms-icon-appbarcheckmarkcross: "\e697";
$ms-icon-appbarcheckmarkpencil: "\e698";
$ms-icon-appbarcheckmarkpenciltop: "\e699";
$ms-icon-appbarcheckmark: "\e69a";
$ms-icon-appbarcheckmarkthick: "\e69b";
$ms-icon-appbarcheckmarkthickunchecked: "\e69c";
$ms-icon-appbarcheckmarkuncrossed: "\e69d";
$ms-icon-appbarchessbishop: "\e69e";
$ms-icon-appbarchesshorse: "\e69f";
$ms-icon-appbarchessking: "\e6a0";
$ms-icon-appbarchesspawn: "\e6a1";
$ms-icon-appbarchessqueen: "\e6a2";
$ms-icon-appbarchessrook: "\e6a3";
$ms-icon-appbarchevrondown: "\e6a4";
$ms-icon-appbarchevronleft: "\e6a5";
$ms-icon-appbarchevronright: "\e6a6";
$ms-icon-appbarchevronup: "\e6a7";
$ms-icon-appbarchromakey: "\e6a8";
$ms-icon-appbarchurch: "\e6a9";
$ms-icon-appbarcitychicago: "\e6aa";
$ms-icon-appbarcitysanfrancisco: "\e6ab";
$ms-icon-appbarcityseattle: "\e6ac";
$ms-icon-appbarcity: "\e6ad";
$ms-icon-appbarclean: "\e6ae";
$ms-icon-appbarclearinversereflecthorizontal: "\e6af";
$ms-icon-appbarclearinverse: "\e6b0";
$ms-icon-appbarclearreflecthorizontal: "\e6b1";
$ms-icon-appbarclear: "\e6b2";
$ms-icon-appbarclipboardpapercheck: "\e6b3";
$ms-icon-appbarclipboardpaper: "\e6b4";
$ms-icon-appbarclipboardpaste: "\e6b5";
$ms-icon-appbarclipboard: "\e6b6";
$ms-icon-appbarclipboardvariantedit: "\e6b7";
$ms-icon-appbarclipboardvariant: "\e6b8";
$ms-icon-appbarclipboardvarianttext: "\e6b9";
$ms-icon-appbarclock: "\e6ba";
$ms-icon-appbarclose: "\e6bb";
$ms-icon-appbarclosedcaptionoff: "\e6bc";
$ms-icon-appbarclosedcaption: "\e6bd";
$ms-icon-appbarclothesshirt: "\e6be";
$ms-icon-appbarclothestie: "\e6bf";
$ms-icon-appbarcloudadd: "\e6c0";
$ms-icon-appbarclouddelete: "\e6c1";
$ms-icon-appbarclouddownload: "\e6c2";
$ms-icon-appbarcloudpause: "\e6c3";
$ms-icon-appbarcloudplay: "\e6c4";
$ms-icon-appbarcloud: "\e6c5";
$ms-icon-appbarcloudupload: "\e6c6";
$ms-icon-appbarcloudirc: "\e6c7";
$ms-icon-appbarcodexml: "\e6c8";
$ms-icon-appbarcog: "\e6c9";
$ms-icon-appbarcogs: "\e6ca";
$ms-icon-appbarcolumnone: "\e6cb";
$ms-icon-appbarcolumnthree: "\e6cc";
$ms-icon-appbarcolumntwo: "\e6cd";
$ms-icon-appbarcompanioncube: "\e6ce";
$ms-icon-appbarconediagonal: "\e6cf";
$ms-icon-appbarcone: "\e6d0";
$ms-icon-appbarconfirmyesno: "\e6d1";
$ms-icon-appbarconnect: "\e6d2";
$ms-icon-appbarconnection1x: "\e6d3";
$ms-icon-appbarconnection3g: "\e6d4";
$ms-icon-appbarconnection4g: "\e6d5";
$ms-icon-appbarconnectionbluetooth: "\e6d6";
$ms-icon-appbarconnectionev: "\e6d7";
$ms-icon-appbarconnectionqualityextremelylow: "\e6d8";
$ms-icon-appbarconnectionqualityhigh: "\e6d9";
$ms-icon-appbarconnectionqualitylow: "\e6da";
$ms-icon-appbarconnectionqualitymedium: "\e6db";
$ms-icon-appbarconnectionqualityveryhigh: "\e6dc";
$ms-icon-appbarconnectionqualityverylow: "\e6dd";
$ms-icon-appbarconnectionwifi: "\e6de";
$ms-icon-appbarconnectionwifivariant: "\e6df";
$ms-icon-appbarconsole: "\e6e0";
$ms-icon-appbarcontrast: "\e6e1";
$ms-icon-appbarcontroleject: "\e6e2";
$ms-icon-appbarcontrolfastforward: "\e6e3";
$ms-icon-appbarcontrolguide: "\e6e4";
$ms-icon-appbarcontrolpause: "\e6e5";
$ms-icon-appbarcontrolplaylive: "\e6e6";
$ms-icon-appbarcontrolplay: "\e6e7";
$ms-icon-appbarcontrolresume: "\e6e8";
$ms-icon-appbarcontrolrewind: "\e6e9";
$ms-icon-appbarcontrolstop: "\e6ea";
$ms-icon-appbarcontrollersnes: "\e6eb";
$ms-icon-appbarcontrollerxbox: "\e6ec";
$ms-icon-appbarcopyright: "\e6ed";
$ms-icon-appbarcorner: "\e6ee";
$ms-icon-appbarcoupon: "\e6ef";
$ms-icon-appbarcreativecommons: "\e6f0";
$ms-icon-appbarcreditcard: "\e6f1";
$ms-icon-appbarcrop: "\e6f2";
$ms-icon-appbarcrosshair: "\e6f3";
$ms-icon-appbarcrown: "\e6f4";
$ms-icon-appbarcupempty: "\e6f5";
$ms-icon-appbarcupfull: "\e6f6";
$ms-icon-appbarcuphalf: "\e6f7";
$ms-icon-appbarcuppaper: "\e6f8";
$ms-icon-appbarcup: "\e6f9";
$ms-icon-appbarcupcake: "\e6fa";
$ms-icon-appbarcurrencycent: "\e6fb";
$ms-icon-appbarcurrencydollarfree: "\e6fc";
$ms-icon-appbarcurrencydollar: "\e6fd";
$ms-icon-appbarcurrencyeuro: "\e6fe";
$ms-icon-appbarcurrencygrivna: "\e6ff";
$ms-icon-appbarcurrencypound: "\e700";
$ms-icon-appbarcurrencyrubles: "\e701";
$ms-icon-appbarcurrencyrupee: "\e702";
$ms-icon-appbarcurrencyyen: "\e703";
$ms-icon-appbarcursordefaultoutline: "\e704";
$ms-icon-appbarcursordefault: "\e705";
$ms-icon-appbarcursordefaulttransformhorizontal: "\e706";
$ms-icon-appbarcursorhand: "\e707";
$ms-icon-appbarcursorinformation: "\e708";
$ms-icon-appbarcursormove: "\e709";
$ms-icon-appbarcusorpointer: "\e70a";
$ms-icon-appbarcustomerservice: "\e70b";
$ms-icon-appbardatabase: "\e70c";
$ms-icon-appbardebugrestart: "\e70d";
$ms-icon-appbardebugstepinto: "\e70e";
$ms-icon-appbardebugstepout: "\e70f";
$ms-icon-appbardebugstepover: "\e710";
$ms-icon-appbardebugstop: "\e711";
$ms-icon-appbardeeplinkround: "\e712";
$ms-icon-appbardeeplink: "\e713";
$ms-icon-appbardelete: "\e714";
$ms-icon-appbardevcenter: "\e715";
$ms-icon-appbardiagram: "\e716";
$ms-icon-appbardial: "\e717";
$ms-icon-appbardimensionarrowboxheight: "\e718";
$ms-icon-appbardimensionarrowboxwidth: "\e719";
$ms-icon-appbardimensionarrowlineheightshort: "\e71a";
$ms-icon-appbardimensionarrowlineheight: "\e71b";
$ms-icon-appbardimensionarrowlineheightthick: "\e71c";
$ms-icon-appbardimensionarrowlinewidthshort: "\e71d";
$ms-icon-appbardimensionarrowlinewidth: "\e71e";
$ms-icon-appbardimensionarrowlinewidththick: "\e71f";
$ms-icon-appbardimensionboxheight: "\e720";
$ms-icon-appbardimensionboxwidth: "\e721";
$ms-icon-appbardimensionlineheightshort: "\e722";
$ms-icon-appbardimensionlineheight: "\e723";
$ms-icon-appbardimensionlinewidthshort: "\e724";
$ms-icon-appbardimensionlinewidth: "\e725";
$ms-icon-appbardirections: "\e726";
$ms-icon-appbardisconnect: "\e727";
$ms-icon-appbardiskdownload: "\e728";
$ms-icon-appbardisk: "\e729";
$ms-icon-appbardnd: "\e72a";
$ms-icon-appbardoorenter: "\e72b";
$ms-icon-appbardoorleave: "\e72c";
$ms-icon-appbardoorlockclosed: "\e72d";
$ms-icon-appbardoorlockopen: "\e72e";
$ms-icon-appbardownload: "\e72f";
$ms-icon-appbardraftingcenterline: "\e730";
$ms-icon-appbardrawbrushreflection: "\e731";
$ms-icon-appbardrawbrush: "\e732";
$ms-icon-appbardrawbutton: "\e733";
$ms-icon-appbardrawmarkerreflection: "\e734";
$ms-icon-appbardrawmarker: "\e735";
$ms-icon-appbardrawpaintbrush: "\e736";
$ms-icon-appbardrawpenadd: "\e737";
$ms-icon-appbardrawpenminus: "\e738";
$ms-icon-appbardrawpenreflection: "\e739";
$ms-icon-appbardrawpen: "\e73a";
$ms-icon-appbardrawpencilreflection: "\e73b";
$ms-icon-appbardrawpencil: "\e73c";
$ms-icon-appbardrawpixelfillgrid: "\e73d";
$ms-icon-appbardrawpixelgrid: "\e73e";
$ms-icon-appbardropper: "\e73f";
$ms-icon-appbaredit: "\e740";
$ms-icon-appbarelevatordown: "\e741";
$ms-icon-appbarelevatorup: "\e742";
$ms-icon-appbaremailgmail: "\e743";
$ms-icon-appbaremailhardedge: "\e744";
$ms-icon-appbaremailminimal: "\e745";
$ms-icon-appbaremailoutlook: "\e746";
$ms-icon-appbaremail: "\e747";
$ms-icon-appbaremailyahoo: "\e748";
$ms-icon-appbareyehide: "\e749";
$ms-icon-appbareye: "\e74a";
$ms-icon-appbarfacebookconnect: "\e74b";
$ms-icon-appbarfacebookdisconnect: "\e74c";
$ms-icon-appbarfanbox: "\e74d";
$ms-icon-appbarferry: "\e74e";
$ms-icon-appbarfilmlive: "\e74f";
$ms-icon-appbarfilmselect: "\e750";
$ms-icon-appbarfilm: "\e751";
$ms-icon-appbarfilteralphabetical: "\e752";
$ms-icon-appbarfilter: "\e753";
$ms-icon-appbarfinder: "\e754";
$ms-icon-appbarfingerprint: "\e755";
$ms-icon-appbarflagbear: "\e756";
$ms-icon-appbarflag: "\e757";
$ms-icon-appbarflagtexas: "\e758";
$ms-icon-appbarflagwavy: "\e759";
$ms-icon-appbarfolderellipsis: "\e75a";
$ms-icon-appbarfolderlock: "\e75b";
$ms-icon-appbarfolderopen: "\e75c";
$ms-icon-appbarfolderpeople: "\e75d";
$ms-icon-appbarfolderpuzzle: "\e75e";
$ms-icon-appbarfolderstar: "\e75f";
$ms-icon-appbarfolder: "\e760";
$ms-icon-appbarfoodapple: "\e761";
$ms-icon-appbarfoodsilverwarecross: "\e762";
$ms-icon-appbarfoodsilverware: "\e763";
$ms-icon-appbarfood: "\e764";
$ms-icon-appbarfoot: "\e765";
$ms-icon-appbarforkliftload: "\e766";
$ms-icon-appbarforklift: "\e767";
$ms-icon-appbarformbasic: "\e768";
$ms-icon-appbarformeditable: "\e769";
$ms-icon-appbarforrst: "\e76a";
$ms-icon-appbarforsale: "\e76b";
$ms-icon-appbarfullscreenbox: "\e76c";
$ms-icon-appbarfullscreen: "\e76d";
$ms-icon-appbarfuturamabender: "\e76e";
$ms-icon-appbarfuturamafry: "\e76f";
$ms-icon-appbargas: "\e770";
$ms-icon-appbargauge0: "\e771";
$ms-icon-appbargauge25: "\e772";
$ms-icon-appbargauge50: "\e773";
$ms-icon-appbargauge75: "\e774";
$ms-icon-appbargauge100: "\e775";
$ms-icon-appbargenderboth: "\e776";
$ms-icon-appbargenderfemale: "\e777";
$ms-icon-appbargendermale: "\e778";
$ms-icon-appbargift: "\e779";
$ms-icon-appbarglobe: "\e77a";
$ms-icon-appbarglobewire: "\e77b";
$ms-icon-appbargoogle: "\e77c";
$ms-icon-appbargoogleplus: "\e77d";
$ms-icon-appbargradeaminus: "\e77e";
$ms-icon-appbargradeaplus: "\e77f";
$ms-icon-appbargradea: "\e780";
$ms-icon-appbargradebminus: "\e781";
$ms-icon-appbargradebplus: "\e782";
$ms-icon-appbargradeb: "\e783";
$ms-icon-appbargradecminus: "\e784";
$ms-icon-appbargradecplus: "\e785";
$ms-icon-appbargradec: "\e786";
$ms-icon-appbargradedminus: "\e787";
$ms-icon-appbargradedplus: "\e788";
$ms-icon-appbargraded: "\e789";
$ms-icon-appbargradee: "\e78a";
$ms-icon-appbargradef: "\e78b";
$ms-icon-appbargraphbar: "\e78c";
$ms-icon-appbargraphboxplot: "\e78d";
$ms-icon-appbargraphhistogramdescription: "\e78e";
$ms-icon-appbargraphhistogram: "\e78f";
$ms-icon-appbargraphlinedown: "\e790";
$ms-icon-appbargraphline: "\e791";
$ms-icon-appbargraphlineup: "\e792";
$ms-icon-appbargreeksigmalowercase: "\e793";
$ms-icon-appbargreeksigmauppercase: "\e794";
$ms-icon-appbargrid: "\e795";
$ms-icon-appbargroupadd: "\e796";
$ms-icon-appbargroupdelete: "\e797";
$ms-icon-appbargroupminus: "\e798";
$ms-icon-appbargroup: "\e799";
$ms-icon-appbarhandicapin: "\e79a";
$ms-icon-appbarhandicapout: "\e79b";
$ms-icon-appbarhandicap: "\e79c";
$ms-icon-appbarhardwarecpu: "\e79d";
$ms-icon-appbarhardwareheadphonesbluetooth: "\e79e";
$ms-icon-appbarhardwareheadphones: "\e79f";
$ms-icon-appbarhardwareheadset: "\e7a0";
$ms-icon-appbarhardwaremouse: "\e7a1";
$ms-icon-appbarheartbreak: "\e7a2";
$ms-icon-appbarheartcross: "\e7a3";
$ms-icon-appbarheartoutline: "\e7a4";
$ms-icon-appbarheart: "\e7a5";
$ms-icon-appbarhomeempty: "\e7a6";
$ms-icon-appbarhomegaragearrowclose: "\e7a7";
$ms-icon-appbarhomegaragearrowopen: "\e7a8";
$ms-icon-appbarhomegarageopen: "\e7a9";
$ms-icon-appbarhomegarage: "\e7aa";
$ms-icon-appbarhomegps: "\e7ab";
$ms-icon-appbarhomelocationpin: "\e7ac";
$ms-icon-appbarhomelocationround: "\e7ad";
$ms-icon-appbarhomepeoplenone: "\e7ae";
$ms-icon-appbarhomepeople: "\e7af";
$ms-icon-appbarhomequestion: "\e7b0";
$ms-icon-appbarhome: "\e7b1";
$ms-icon-appbarhomevariantenter: "\e7b2";
$ms-icon-appbarhomevariantleave: "\e7b3";
$ms-icon-appbarhomevariant: "\e7b4";
$ms-icon-appbarhourglass: "\e7b5";
$ms-icon-appbaricecreambar: "\e7b6";
$ms-icon-appbarie: "\e7b7";
$ms-icon-appbarimageants: "\e7b8";
$ms-icon-appbarimagebacklight: "\e7b9";
$ms-icon-appbarimagebeach: "\e7ba";
$ms-icon-appbarimagebroken: "\e7bb";
$ms-icon-appbarimageexport: "\e7bc";
$ms-icon-appbarimagefocus: "\e7bd";
$ms-icon-appbarimagegallery: "\e7be";
$ms-icon-appbarimagehdr: "\e7bf";
$ms-icon-appbarimagelandscape: "\e7c0";
$ms-icon-appbarimagemacro: "\e7c1";
$ms-icon-appbarimagemultiple: "\e7c2";
$ms-icon-appbarimagenightlandscape: "\e7c3";
$ms-icon-appbarimagenightperson: "\e7c4";
$ms-icon-appbarimagenightportrait: "\e7c5";
$ms-icon-appbarimagenight: "\e7c6";
$ms-icon-appbarimageportrait: "\e7c7";
$ms-icon-appbarimageredeye: "\e7c8";
$ms-icon-appbarimageselect: "\e7c9";
$ms-icon-appbarimagesnow: "\e7ca";
$ms-icon-appbarimagesports: "\e7cb";
$ms-icon-appbarimagesunset: "\e7cc";
$ms-icon-appbarimage: "\e7cd";
$ms-icon-appbarinboxin: "\e7ce";
$ms-icon-appbarinboxout: "\e7cf";
$ms-icon-appbarinbox: "\e7d0";
$ms-icon-appbarinfinite: "\e7d1";
$ms-icon-appbarinformationcircle: "\e7d2";
$ms-icon-appbarinformation: "\e7d3";
$ms-icon-appbarinputdown: "\e7d4";
$ms-icon-appbarinputkeyboarddown: "\e7d5";
$ms-icon-appbarinputkeyboard: "\e7d6";
$ms-icon-appbarinputpendown: "\e7d7";
$ms-icon-appbarinputpen: "\e7d8";
$ms-icon-appbarinputquestion: "\e7d9";
$ms-icon-appbarinput: "\e7da";
$ms-icon-appbarinterfacebutton: "\e7db";
$ms-icon-appbarinterfacedropdown: "\e7dc";
$ms-icon-appbarinterfacelist: "\e7dd";
$ms-icon-appbarinterfacepassword: "\e7de";
$ms-icon-appbarinterfacetextbox: "\e7df";
$ms-icon-appbariphone: "\e7e0";
$ms-icon-appbarjournal: "\e7e1";
$ms-icon-appbarkeyold: "\e7e2";
$ms-icon-appbarkey: "\e7e3";
$ms-icon-appbarlampdesk: "\e7e4";
$ms-icon-appbarlampdeskvariant: "\e7e5";
$ms-icon-appbarlamp: "\e7e6";
$ms-icon-appbarlampvariant: "\e7e7";
$ms-icon-appbarlanguagecsharp: "\e7e8";
$ms-icon-appbarlanguagejava: "\e7e9";
$ms-icon-appbarlanguagejavatext: "\e7ea";
$ms-icon-appbarlanguagepython: "\e7eb";
$ms-icon-appbarlanguagepythontext: "\e7ec";
$ms-icon-appbarlaptop: "\e7ed";
$ms-icon-appbarlavalamp: "\e7ee";
$ms-icon-appbarlayeradd: "\e7ef";
$ms-icon-appbarlayerarrangebringforward: "\e7f0";
$ms-icon-appbarlayerarrangebringtofront: "\e7f1";
$ms-icon-appbarlayerarrangesendbackward: "\e7f2";
$ms-icon-appbarlayerarrangesendtoback: "\e7f3";
$ms-icon-appbarlayerarrangesolidbringforward: "\e7f4";
$ms-icon-appbarlayerarrangesolidbringtofront: "\e7f5";
$ms-icon-appbarlayerarrangesolidsendbackward: "\e7f6";
$ms-icon-appbarlayerarrangesolidsendtoback: "\e7f7";
$ms-icon-appbarlayerdelete: "\e7f8";
$ms-icon-appbarlayerdown: "\e7f9";
$ms-icon-appbarlayerminus: "\e7fa";
$ms-icon-appbarlayerperspectiveup: "\e7fb";
$ms-icon-appbarlayer: "\e7fc";
$ms-icon-appbarlayerthick: "\e7fd";
$ms-icon-appbarlayerup: "\e7fe";
$ms-icon-appbarlayoutbody: "\e7ff";
$ms-icon-appbarlayoutcollapseleft: "\e800";
$ms-icon-appbarlayoutcollapseleftvariant: "\e801";
$ms-icon-appbarlayoutcollapseright: "\e802";
$ms-icon-appbarlayoutcollapserightvariant: "\e803";
$ms-icon-appbarlayoutexpandleft: "\e804";
$ms-icon-appbarlayoutexpandleftvariant: "\e805";
$ms-icon-appbarlayoutexpandright: "\e806";
$ms-icon-appbarlayoutexpandrightvariant: "\e807";
$ms-icon-appbarlayoutheader: "\e808";
$ms-icon-appbarlayoutsidebar: "\e809";
$ms-icon-appbarlayout: "\e80a";
$ms-icon-appbarleaderboard: "\e80b";
$ms-icon-appbarlifesaver: "\e80c";
$ms-icon-appbarlightbulbcoil: "\e80d";
$ms-icon-appbarlightbulbhueon: "\e80e";
$ms-icon-appbarlightbulbhue: "\e80f";
$ms-icon-appbarlightbulb: "\e810";
$ms-icon-appbarlightning: "\e811";
$ms-icon-appbarlineshorizontal4: "\e812";
$ms-icon-appbarlink: "\e813";
$ms-icon-appbarlinkedin: "\e814";
$ms-icon-appbarlistaddabove: "\e815";
$ms-icon-appbarlistaddbelow: "\e816";
$ms-icon-appbarlistadd: "\e817";
$ms-icon-appbarlistcheck: "\e818";
$ms-icon-appbarlistcreate: "\e819";
$ms-icon-appbarlistdeleteinline: "\e81a";
$ms-icon-appbarlistdelete: "\e81b";
$ms-icon-appbarlistgear: "\e81c";
$ms-icon-appbarlisthidden: "\e81d";
$ms-icon-appbarlistmerge: "\e81e";
$ms-icon-appbarlistone: "\e81f";
$ms-icon-appbarlistreorderdown: "\e820";
$ms-icon-appbarlistreorder: "\e821";
$ms-icon-appbarlistreorderup: "\e822";
$ms-icon-appbarlistselect: "\e823";
$ms-icon-appbarliststar: "\e824";
$ms-icon-appbarlist: "\e825";
$ms-icon-appbarlisttwo: "\e826";
$ms-icon-appbarlocationadd: "\e827";
$ms-icon-appbarlocationcircle: "\e828";
$ms-icon-appbarlocationdelete: "\e829";
$ms-icon-appbarlocationfoursquare: "\e82a";
$ms-icon-appbarlocationminus: "\e82b";
$ms-icon-appbarlocationround: "\e82c";
$ms-icon-appbarlocation: "\e82d";
$ms-icon-appbarlock: "\e82e";
$ms-icon-appbarlogicandadd: "\e82f";
$ms-icon-appbarlogicand: "\e830";
$ms-icon-appbarlogicoradd: "\e831";
$ms-icon-appbarlogicor: "\e832";
$ms-icon-appbarloop: "\e833";
$ms-icon-appbarmagnifyadd: "\e834";
$ms-icon-appbarmagnifyarrowdown: "\e835";
$ms-icon-appbarmagnifyarrowup: "\e836";
$ms-icon-appbarmagnifyback: "\e837";
$ms-icon-appbarmagnifyforward: "\e838";
$ms-icon-appbarmagnifyminus: "\e839";
$ms-icon-appbarmagnify: "\e83a";
$ms-icon-appbarmansensor: "\e83b";
$ms-icon-appbarmansuitcasefast: "\e83c";
$ms-icon-appbarmansuitcaserun: "\e83d";
$ms-icon-appbarmansuitcase: "\e83e";
$ms-icon-appbarmanwalk: "\e83f";
$ms-icon-appbarmapaerialhighway: "\e840";
$ms-icon-appbarmapaerial: "\e841";
$ms-icon-appbarmapfolds: "\e842";
$ms-icon-appbarmapgps: "\e843";
$ms-icon-appbarmaplocationadd: "\e844";
$ms-icon-appbarmaplocation: "\e845";
$ms-icon-appbarmapsatellite: "\e846";
$ms-icon-appbarmap: "\e847";
$ms-icon-appbarmaptreasure: "\e848";
$ms-icon-appbarmarketplaceold: "\e849";
$ms-icon-appbarmarketplace: "\e84a";
$ms-icon-appbarmarkup: "\e84b";
$ms-icon-appbarmartini: "\e84c";
$ms-icon-appbarmarvelavengers: "\e84d";
$ms-icon-appbarmarvelcaptainamerica: "\e84e";
$ms-icon-appbarmarvelironmanmask: "\e84f";
$ms-icon-appbarmarvelironman: "\e850";
$ms-icon-appbarmarvelshield: "\e851";
$ms-icon-appbarmarvelshieldvariant: "\e852";
$ms-icon-appbarmeasurecelcius: "\e853";
$ms-icon-appbarmeasurecentimeter: "\e854";
$ms-icon-appbarmeasurefarenheit: "\e855";
$ms-icon-appbarmeasurefoot: "\e856";
$ms-icon-appbarmeasureinch: "\e857";
$ms-icon-appbarmeasurekilometer: "\e858";
$ms-icon-appbarmeasuremeter: "\e859";
$ms-icon-appbarmeasuremile: "\e85a";
$ms-icon-appbarmedicalpillbroken: "\e85b";
$ms-icon-appbarmedicalpill: "\e85c";
$ms-icon-appbarmedicalpulse: "\e85d";
$ms-icon-appbarmessageprofanity: "\e85e";
$ms-icon-appbarmessagesend: "\e85f";
$ms-icon-appbarmessagesmiley: "\e860";
$ms-icon-appbarmessage: "\e861";
$ms-icon-appbarmicrophonegoogle: "\e862";
$ms-icon-appbarmicrophone: "\e863";
$ms-icon-appbarmicrosofttag: "\e864";
$ms-icon-appbarminecraftcivcraft: "\e865";
$ms-icon-appbarminus: "\e866";
$ms-icon-appbarmoney: "\e867";
$ms-icon-appbarmonitoradd: "\e868";
$ms-icon-appbarmonitordelete: "\e869";
$ms-icon-appbarmonitorfilm: "\e86a";
$ms-icon-appbarmonitoridentify: "\e86b";
$ms-icon-appbarmonitorminus: "\e86c";
$ms-icon-appbarmonitorplay: "\e86d";
$ms-icon-appbarmonitor: "\e86e";
$ms-icon-appbarmonitorto: "\e86f";
$ms-icon-appbarmono: "\e870";
$ms-icon-appbarmoonfirstquarter: "\e871";
$ms-icon-appbarmoonfull: "\e872";
$ms-icon-appbarmoonnew: "\e873";
$ms-icon-appbarmoonsleep: "\e874";
$ms-icon-appbarmoon: "\e875";
$ms-icon-appbarmoonthirdquarter: "\e876";
$ms-icon-appbarmoonwaningcrescent: "\e877";
$ms-icon-appbarmoonwaninggibbous: "\e878";
$ms-icon-appbarmoonwaxingcrescent: "\e879";
$ms-icon-appbarmoonwaxinggibbous: "\e87a";
$ms-icon-appbarmovieclapperselect: "\e87b";
$ms-icon-appbarmovieclappersolidselect: "\e87c";
$ms-icon-appbarmovieclappersolid: "\e87d";
$ms-icon-appbarmovieclapper: "\e87e";
$ms-icon-appbarmusiclive: "\e87f";
$ms-icon-appbarmusicselect: "\e880";
$ms-icon-appbarmusic: "\e881";
$ms-icon-appbarmusicwifi: "\e882";
$ms-icon-appbarnavigatenext: "\e883";
$ms-icon-appbarnavigateprevious: "\e884";
$ms-icon-appbarnetworkdisconnect: "\e885";
$ms-icon-appbarnetworkportdisconnect: "\e886";
$ms-icon-appbarnetworkport: "\e887";
$ms-icon-appbarnetwork: "\e888";
$ms-icon-appbarnew: "\e889";
$ms-icon-appbarnewwindow: "\e88a";
$ms-icon-appbarnewspaper: "\e88b";
$ms-icon-appbarnfc: "\e88c";
$ms-icon-appbarnoentry: "\e88d";
$ms-icon-appbarnotificationabovemultiple: "\e88e";
$ms-icon-appbarnotificationabove: "\e88f";
$ms-icon-appbarnotificationmultiple: "\e890";
$ms-icon-appbarnotificationstar: "\e891";
$ms-icon-appbarnotification: "\e892";
$ms-icon-appbarnyan: "\e893";
$ms-icon-appbaroffice365: "\e894";
$ms-icon-appbarofficeaccess: "\e895";
$ms-icon-appbarofficeexcel: "\e896";
$ms-icon-appbarofficeinfopath: "\e897";
$ms-icon-appbarofficelync: "\e898";
$ms-icon-appbarofficeonenote: "\e899";
$ms-icon-appbarofficeoutlook: "\e89a";
$ms-icon-appbarofficepowerpoint: "\e89b";
$ms-icon-appbarofficeproject: "\e89c";
$ms-icon-appbarofficepublisher: "\e89d";
$ms-icon-appbarofficesharepoint: "\e89e";
$ms-icon-appbaroffice: "\e89f";
$ms-icon-appbarofficevisio: "\e8a0";
$ms-icon-appbarofficeword: "\e8a1";
$ms-icon-appbaropacity: "\e8a2";
$ms-icon-appbarosandroid: "\e8a3";
$ms-icon-appbarosarm: "\e8a4";
$ms-icon-appbarosblackberry: "\e8a5";
$ms-icon-appbaroschromium: "\e8a6";
$ms-icon-appbarosgnome: "\e8a7";
$ms-icon-appbarosios: "\e8a8";
$ms-icon-appbarosubuntu: "\e8a9";
$ms-icon-appbaroswindows8: "\e8aa";
$ms-icon-appbaroswindowsrt: "\e8ab";
$ms-icon-appbaroswindows: "\e8ac";
$ms-icon-appbaroswindowsphoneround: "\e8ad";
$ms-icon-appbaroswindowsphone: "\e8ae";
$ms-icon-appbarosx64: "\e8af";
$ms-icon-appbarosx86: "\e8b0";
$ms-icon-appbaroutlet: "\e8b1";
$ms-icon-appbarpage0: "\e8b2";
$ms-icon-appbarpage1: "\e8b3";
$ms-icon-appbarpage2: "\e8b4";
$ms-icon-appbarpage3: "\e8b5";
$ms-icon-appbarpage4: "\e8b6";
$ms-icon-appbarpage5: "\e8b7";
$ms-icon-appbarpage6: "\e8b8";
$ms-icon-appbarpage7: "\e8b9";
$ms-icon-appbarpage8: "\e8ba";
$ms-icon-appbarpage9: "\e8bb";
$ms-icon-appbarpageadd: "\e8bc";
$ms-icon-appbarpagearrow: "\e8bd";
$ms-icon-appbarpagebold: "\e8be";
$ms-icon-appbarpagebreak: "\e8bf";
$ms-icon-appbarpagecheck: "\e8c0";
$ms-icon-appbarpagecode: "\e8c1";
$ms-icon-appbarpagecopy: "\e8c2";
$ms-icon-appbarpagecornerbookmark: "\e8c3";
$ms-icon-appbarpagecornerbreak: "\e8c4";
$ms-icon-appbarpagecornercells: "\e8c5";
$ms-icon-appbarpagecornerfoldedgrid: "\e8c6";
$ms-icon-appbarpagecornerfolded: "\e8c7";
$ms-icon-appbarpagecornerfoldedtext: "\e8c8";
$ms-icon-appbarpagecornergrid: "\e8c9";
$ms-icon-appbarpagecorner: "\e8ca";
$ms-icon-appbarpagecornertextbreak: "\e8cb";
$ms-icon-appbarpagecornertext: "\e8cc";
$ms-icon-appbarpagecross: "\e8cd";
$ms-icon-appbarpagedelete: "\e8ce";
$ms-icon-appbarpagedownload: "\e8cf";
$ms-icon-appbarpageduplicate: "\e8d0";
$ms-icon-appbarpageedit: "\e8d1";
$ms-icon-appbarpageexcel: "\e8d2";
$ms-icon-appbarpagefilegif: "\e8d3";
$ms-icon-appbarpagefilegiftag: "\e8d4";
$ms-icon-appbarpagefilepdf: "\e8d5";
$ms-icon-appbarpagefilepdftag: "\e8d6";
$ms-icon-appbarpageheart: "\e8d7";
$ms-icon-appbarpageheartbreak: "\e8d8";
$ms-icon-appbarpagehidden: "\e8d9";
$ms-icon-appbarpageimage: "\e8da";
$ms-icon-appbarpagejpg: "\e8db";
$ms-icon-appbarpagelocationadd: "\e8dc";
$ms-icon-appbarpagelocation: "\e8dd";
$ms-icon-appbarpageminus: "\e8de";
$ms-icon-appbarpagemultiple: "\e8df";
$ms-icon-appbarpagemusic: "\e8e0";
$ms-icon-appbarpagenew: "\e8e1";
$ms-icon-appbarpageonenote: "\e8e2";
$ms-icon-appbarpagepdf: "\e8e3";
$ms-icon-appbarpagepng: "\e8e4";
$ms-icon-appbarpagepowerpoint: "\e8e5";
$ms-icon-appbarpagequestion: "\e8e6";
$ms-icon-appbarpagesearch: "\e8e7";
$ms-icon-appbarpageselect: "\e8e8";
$ms-icon-appbarpagesmall: "\e8e9";
$ms-icon-appbarpagesolidadd: "\e8ea";
$ms-icon-appbarpagesolidcross: "\e8eb";
$ms-icon-appbarpagesolidmove: "\e8ec";
$ms-icon-appbarpagesolid: "\e8ed";
$ms-icon-appbarpage: "\e8ee";
$ms-icon-appbarpagetext: "\e8ef";
$ms-icon-appbarpageupload: "\e8f0";
$ms-icon-appbarpageword: "\e8f1";
$ms-icon-appbarpagexml: "\e8f2";
$ms-icon-appbarpalmtree: "\e8f3";
$ms-icon-appbarpalmtreevariant: "\e8f4";
$ms-icon-appbarpaper: "\e8f5";
$ms-icon-appbarpapercliprotated: "\e8f6";
$ms-icon-appbarpaperclip: "\e8f7";
$ms-icon-appbarpaw: "\e8f8";
$ms-icon-appbarpaypal: "\e8f9";
$ms-icon-appbarpeoplearrowleft: "\e8fa";
$ms-icon-appbarpeoplearrowright: "\e8fb";
$ms-icon-appbarpeoplecheckbox: "\e8fc";
$ms-icon-appbarpeopledown: "\e8fd";
$ms-icon-appbarpeopleleft: "\e8fe";
$ms-icon-appbarpeoplemagnify: "\e8ff";
$ms-icon-appbarpeoplemultiplemagnify: "\e900";
$ms-icon-appbarpeoplemultiple: "\e901";
$ms-icon-appbarpeopleprofile: "\e902";
$ms-icon-appbarpeopleright: "\e903";
$ms-icon-appbarpeoplesensor: "\e904";
$ms-icon-appbarpeoplesensorvariant: "\e905";
$ms-icon-appbarpeoplestatus: "\e906";
$ms-icon-appbarpeople: "\e907";
$ms-icon-appbarpeopleup: "\e908";
$ms-icon-appbarpercentoff: "\e909";
$ms-icon-appbarphonehangup: "\e90a";
$ms-icon-appbarphone: "\e90b";
$ms-icon-appbarphonevoicemail: "\e90c";
$ms-icon-appbarpiequarter: "\e90d";
$ms-icon-appbarpie: "\e90e";
$ms-icon-appbarpinremove: "\e90f";
$ms-icon-appbarpin: "\e910";
$ms-icon-appbarplaces: "\e911";
$ms-icon-appbarplanerotated45: "\e912";
$ms-icon-appbarplanerotated135: "\e913";
$ms-icon-appbarplane: "\e914";
$ms-icon-appbarplant: "\e915";
$ms-icon-appbarpokeball: "\e916";
$ms-icon-appbarpotion: "\e917";
$ms-icon-appbarpower: "\e918";
$ms-icon-appbarprinterblank: "\e919";
$ms-icon-appbarprinter: "\e91a";
$ms-icon-appbarprintertext: "\e91b";
$ms-icon-appbarprogress: "\e91c";
$ms-icon-appbarprojectorscreen: "\e91d";
$ms-icon-appbarprojector: "\e91e";
$ms-icon-appbarprotractor: "\e91f";
$ms-icon-appbarpuzzleround: "\e920";
$ms-icon-appbarpuzzle: "\e921";
$ms-icon-appbarqr: "\e922";
$ms-icon-appbarquestion: "\e923";
$ms-icon-appbarquill: "\e924";
$ms-icon-appbarquoteleft: "\e925";
$ms-icon-appbarquoteright: "\e926";
$ms-icon-appbarradarscreen: "\e927";
$ms-icon-appbarradar: "\e928";
$ms-icon-appbarradioactive: "\e929";
$ms-icon-appbarredocurve: "\e92a";
$ms-icon-appbarredopoint: "\e92b";
$ms-icon-appbarredo: "\e92c";
$ms-icon-appbarrefreshclockwisedown: "\e92d";
$ms-icon-appbarrefreshclockwiseup: "\e92e";
$ms-icon-appbarrefreshcounterclockwisedown: "\e92f";
$ms-icon-appbarrefreshcounterclockwiseup: "\e930";
$ms-icon-appbarrefresh: "\e931";
$ms-icon-appbarrepeat: "\e932";
$ms-icon-appbarreplycalendar: "\e933";
$ms-icon-appbarreplyemail: "\e934";
$ms-icon-appbarreplypeople: "\e935";
$ms-icon-appbarreset: "\e936";
$ms-icon-appbarreturn: "\e937";
$ms-icon-appbarribbon: "\e938";
$ms-icon-appbarribbonwave: "\e939";
$ms-icon-appbarring: "\e93a";
$ms-icon-appbarrss: "\e93b";
$ms-icon-appbarruler: "\e93c";
$ms-icon-appbarsailboat: "\e93d";
$ms-icon-appbarsave: "\e93e";
$ms-icon-appbarscale: "\e93f";
$ms-icon-appbarscaleunbalanced: "\e940";
$ms-icon-appbarscrabblea: "\e941";
$ms-icon-appbarscrabbleb: "\e942";
$ms-icon-appbarscrabblec: "\e943";
$ms-icon-appbarscrabbled: "\e944";
$ms-icon-appbarscrabblee: "\e945";
$ms-icon-appbarscrabblef: "\e946";
$ms-icon-appbarscrabbleg: "\e947";
$ms-icon-appbarscrabbleh: "\e948";
$ms-icon-appbarscrabblei: "\e949";
$ms-icon-appbarscrabblej: "\e94a";
$ms-icon-appbarscrabblek: "\e94b";
$ms-icon-appbarscrabblel: "\e94c";
$ms-icon-appbarscrabblem: "\e94d";
$ms-icon-appbarscrabblen: "\e94e";
$ms-icon-appbarscrabbleo: "\e94f";
$ms-icon-appbarscrabblep: "\e950";
$ms-icon-appbarscrabbleq: "\e951";
$ms-icon-appbarscrabbler: "\e952";
$ms-icon-appbarscrabbles: "\e953";
$ms-icon-appbarscrabblet: "\e954";
$ms-icon-appbarscrabbleu: "\e955";
$ms-icon-appbarscrabblev: "\e956";
$ms-icon-appbarscrabblew: "\e957";
$ms-icon-appbarscrabblex: "\e958";
$ms-icon-appbarscrabbley: "\e959";
$ms-icon-appbarscrabblez: "\e95a";
$ms-icon-appbarsdmicro: "\e95b";
$ms-icon-appbarsd: "\e95c";
$ms-icon-appbarsectioncollapseall: "\e95d";
$ms-icon-appbarsectioncollapse: "\e95e";
$ms-icon-appbarsectionexpandall: "\e95f";
$ms-icon-appbarsectionexpand: "\e960";
$ms-icon-appbarsettings: "\e961";
$ms-icon-appbarshareopen: "\e962";
$ms-icon-appbarshare: "\e963";
$ms-icon-appbarshieldalert: "\e964";
$ms-icon-appbarshield: "\e965";
$ms-icon-appbarshopping: "\e966";
$ms-icon-appbarshotglass: "\e967";
$ms-icon-appbarshuffle: "\e968";
$ms-icon-appbarsidebarleftcollapse: "\e969";
$ms-icon-appbarsidebarleftexpand: "\e96a";
$ms-icon-appbarsidebarrightcollapse: "\e96b";
$ms-icon-appbarsidebarrightexpand: "\e96c";
$ms-icon-appbarsigncaution: "\e96d";
$ms-icon-appbarsigninterstate75: "\e96e";
$ms-icon-appbarsigninterstate94: "\e96f";
$ms-icon-appbarsigninterstate95: "\e970";
$ms-icon-appbarsigninterstate: "\e971";
$ms-icon-appbarsignparking: "\e972";
$ms-icon-appbarsignstop: "\e973";
$ms-icon-appbarsimcardmicro: "\e974";
$ms-icon-appbarsimcard: "\e975";
$ms-icon-appbarskydrivedownload: "\e976";
$ms-icon-appbarskydrive: "\e977";
$ms-icon-appbarskydriveupload: "\e978";
$ms-icon-appbarsleep: "\e979";
$ms-icon-appbarslice: "\e97a";
$ms-icon-appbarsmileyangry: "\e97b";
$ms-icon-appbarsmileycry: "\e97c";
$ms-icon-appbarsmileyfrown: "\e97d";
$ms-icon-appbarsmileyglasses: "\e97e";
$ms-icon-appbarsmileygrin: "\e97f";
$ms-icon-appbarsmileygrumpy: "\e980";
$ms-icon-appbarsmileyhappy: "\e981";
$ms-icon-appbarsmileykiki: "\e982";
$ms-icon-appbarsmileysquint: "\e983";
$ms-icon-appbarsmileytounge: "\e984";
$ms-icon-appbarsmileywhat: "\e985";
$ms-icon-appbarsnowflake: "\e986";
$ms-icon-appbarsocialaim: "\e987";
$ms-icon-appbarsocialaimvariant: "\e988";
$ms-icon-appbarsocialamazonappstore: "\e989";
$ms-icon-appbarsocialamazon: "\e98a";
$ms-icon-appbarsocialappleappstore: "\e98b";
$ms-icon-appbarsocialapplemobileme: "\e98c";
$ms-icon-appbarsocialapple: "\e98d";
$ms-icon-appbarsocialappnet: "\e98e";
$ms-icon-appbarsocialartcom: "\e98f";
$ms-icon-appbarsocialarto: "\e990";
$ms-icon-appbarsocialaws: "\e991";
$ms-icon-appbarsocialbaidu: "\e992";
$ms-icon-appbarsocialbasecamp: "\e993";
$ms-icon-appbarsocialbebo: "\e994";
$ms-icon-appbarsocialbehance: "\e995";
$ms-icon-appbarsocialblogger: "\e996";
$ms-icon-appbarsocialcloudapp: "\e997";
$ms-icon-appbarsocialcoding4fun: "\e998";
$ms-icon-appbarsocialdelicious: "\e999";
$ms-icon-appbarsocialdeviantart: "\e99a";
$ms-icon-appbarsocialdigg: "\e99b";
$ms-icon-appbarsocialdiggvariant: "\e99c";
$ms-icon-appbarsocialdisqus: "\e99d";
$ms-icon-appbarsocialdribbble: "\e99e";
$ms-icon-appbarsocialdropboxdownload: "\e99f";
$ms-icon-appbarsocialdropbox: "\e9a0";
$ms-icon-appbarsocialdropboxupload: "\e9a1";
$ms-icon-appbarsocialdrupal: "\e9a2";
$ms-icon-appbarsocialengadget: "\e9a3";
$ms-icon-appbarsocialetsy: "\e9a4";
$ms-icon-appbarsocialevernote: "\e9a5";
$ms-icon-appbarsocialfacebookheartbreak: "\e9a6";
$ms-icon-appbarsocialfacebookheart: "\e9a7";
$ms-icon-appbarsocialfacebook: "\e9a8";
$ms-icon-appbarsocialfacebookvariant: "\e9a9";
$ms-icon-appbarsocialfoursquare: "\e9aa";
$ms-icon-appbarsocialgdgt: "\e9ab";
$ms-icon-appbarsocialgithuboctocatsolid: "\e9ac";
$ms-icon-appbarsocialgithuboctocat: "\e9ad";
$ms-icon-appbarsocialgithub: "\e9ae";
$ms-icon-appbarsocialgrooveshark: "\e9af";
$ms-icon-appbarsocialindiegogo: "\e9b0";
$ms-icon-appbarsocialjira: "\e9b1";
$ms-icon-appbarsocialkickstarter: "\e9b2";
$ms-icon-appbarsociallastfm: "\e9b3";
$ms-icon-appbarsocialline: "\e9b4";
$ms-icon-appbarsociallinkedin: "\e9b5";
$ms-icon-appbarsociallinkedinvariant: "\e9b6";
$ms-icon-appbarsocialmicrosoft: "\e9b7";
$ms-icon-appbarsocialopenid: "\e9b8";
$ms-icon-appbarsocialpicasa: "\e9b9";
$ms-icon-appbarsocialpinterest: "\e9ba";
$ms-icon-appbarsocialplaystation: "\e9bb";
$ms-icon-appbarsocialrdio: "\e9bc";
$ms-icon-appbarsocialreddit: "\e9bd";
$ms-icon-appbarsocialsharethis: "\e9be";
$ms-icon-appbarsocialskype: "\e9bf";
$ms-icon-appbarsocialslashdot: "\e9c0";
$ms-icon-appbarsocialsoundcloud: "\e9c1";
$ms-icon-appbarsocialspotify: "\e9c2";
$ms-icon-appbarsocialstackoverflow: "\e9c3";
$ms-icon-appbarsocialtheverge: "\e9c4";
$ms-icon-appbarsocialtumblr: "\e9c5";
$ms-icon-appbarsocialtwitterhashtag: "\e9c6";
$ms-icon-appbarsocialtwitterretweet: "\e9c7";
$ms-icon-appbarsocialtwitter: "\e9c8";
$ms-icon-appbarsocialuservoice: "\e9c9";
$ms-icon-appbarsocialvimeo: "\e9ca";
$ms-icon-appbarsocialwikipedia: "\e9cb";
$ms-icon-appbarsocialwordpress: "\e9cc";
$ms-icon-appbarsocialwordpressvariant: "\e9cd";
$ms-icon-appbarsocialyahoo: "\e9ce";
$ms-icon-appbarsocialycombinator: "\e9cf";
$ms-icon-appbarsocialyelp: "\e9d0";
$ms-icon-appbarsocialzappos: "\e9d1";
$ms-icon-appbarsortalphabeticalascending: "\e9d2";
$ms-icon-appbarsortalphabeticaldescending: "\e9d3";
$ms-icon-appbarsortalphabetical: "\e9d4";
$ms-icon-appbarsortnumericascending: "\e9d5";
$ms-icon-appbarsortnumericdescending: "\e9d6";
$ms-icon-appbarsortnumeric: "\e9d7";
$ms-icon-appbarsort: "\e9d8";
$ms-icon-appbarsound0: "\e9d9";
$ms-icon-appbarsound1: "\e9da";
$ms-icon-appbarsound2: "\e9db";
$ms-icon-appbarsound3: "\e9dc";
$ms-icon-appbarsoundleftright: "\e9dd";
$ms-icon-appbarsoundmute: "\e9de";
$ms-icon-appbarsoundstereostack: "\e9df";
$ms-icon-appbarsoundstereo: "\e9e0";
$ms-icon-appbarsourcefork: "\e9e1";
$ms-icon-appbarsourcepull: "\e9e2";
$ms-icon-appbarspeakerphone: "\e9e3";
$ms-icon-appbarsportfootball: "\e9e4";
$ms-icon-appbarstairsdownreflecthorizontal: "\e9e5";
$ms-icon-appbarstairsdown: "\e9e6";
$ms-icon-appbarstairsupreflecthorizontal: "\e9e7";
$ms-icon-appbarstairsup: "\e9e8";
$ms-icon-appbarstampat: "\e9e9";
$ms-icon-appbarstampempty: "\e9ea";
$ms-icon-appbarstamp: "\e9eb";
$ms-icon-appbarstaradd: "\e9ec";
$ms-icon-appbarstardelete: "\e9ed";
$ms-icon-appbarstarinvincible: "\e9ee";
$ms-icon-appbarstarminus: "\e9ef";
$ms-icon-appbarstarremove: "\e9f0";
$ms-icon-appbarstar: "\e9f1";
$ms-icon-appbarstarwarsjedi: "\e9f2";
$ms-icon-appbarstarwarsrebel: "\e9f3";
$ms-icon-appbarstarwarssith: "\e9f4";
$ms-icon-appbarsteam: "\e9f5";
$ms-icon-appbarstockdown: "\e9f6";
$ms-icon-appbarstock: "\e9f7";
$ms-icon-appbarstockup: "\e9f8";
$ms-icon-appbarstocking: "\e9f9";
$ms-icon-appbarstop: "\e9fa";
$ms-icon-appbarstore: "\e9fb";
$ms-icon-appbarstream: "\e9fc";
$ms-icon-appbarsuitcase: "\e9fd";
$ms-icon-appbarswitchoff: "\e9fe";
$ms-icon-appbarsymbolbraces: "\e9ff";
$ms-icon-appbarsymbolbracket: "\ea00";
$ms-icon-appbartableadd: "\ea01";
$ms-icon-appbartabledelete: "\ea02";
$ms-icon-appbartableselect: "\ea03";
$ms-icon-appbartable: "\ea04";
$ms-icon-appbartableunselect: "\ea05";
$ms-icon-appbartabletwindows: "\ea06";
$ms-icon-appbartaglabel: "\ea07";
$ms-icon-appbartag: "\ea08";
$ms-icon-appbartardis: "\ea09";
$ms-icon-appbartextaligncenter: "\ea0a";
$ms-icon-appbartextalignjustify: "\ea0b";
$ms-icon-appbartextalignleft: "\ea0c";
$ms-icon-appbartextalignright: "\ea0d";
$ms-icon-appbartextbold: "\ea0e";
$ms-icon-appbartextitalic: "\ea0f";
$ms-icon-appbartextoverline: "\ea10";
$ms-icon-appbartextsans: "\ea11";
$ms-icon-appbartextscript: "\ea12";
$ms-icon-appbartextserif: "\ea13";
$ms-icon-appbartextsizedown: "\ea14";
$ms-icon-appbartextsizeminus: "\ea15";
$ms-icon-appbartextsizeplus: "\ea16";
$ms-icon-appbartextsize: "\ea17";
$ms-icon-appbartextsizeup: "\ea18";
$ms-icon-appbartextstrikethrough: "\ea19";
$ms-icon-appbartextunderline: "\ea1a";
$ms-icon-appbarthermometercelcius: "\ea1b";
$ms-icon-appbarthermometerdigital: "\ea1c";
$ms-icon-appbarthermometerfahrenheit: "\ea1d";
$ms-icon-appbarthermometerhoneywell: "\ea1e";
$ms-icon-appbarthermometerkelvin: "\ea1f";
$ms-icon-appbarthermometersigns: "\ea20";
$ms-icon-appbarthermometer: "\ea21";
$ms-icon-appbarthumbupadd: "\ea22";
$ms-icon-appbarthumbupdelete: "\ea23";
$ms-icon-appbarthumbupminus: "\ea24";
$ms-icon-appbarthumbsdown: "\ea25";
$ms-icon-appbarthumbsup: "\ea26";
$ms-icon-appbarticket: "\ea27";
$ms-icon-appbartilesfour: "\ea28";
$ms-icon-appbartilesminus: "\ea29";
$ms-icon-appbartilesnine: "\ea2a";
$ms-icon-appbartilesplus: "\ea2b";
$ms-icon-appbartilessixteen: "\ea2c";
$ms-icon-appbartimer1: "\ea2d";
$ms-icon-appbartimer2: "\ea2e";
$ms-icon-appbartimer3: "\ea2f";
$ms-icon-appbartimer4: "\ea30";
$ms-icon-appbartimer5: "\ea31";
$ms-icon-appbartimeralert: "\ea32";
$ms-icon-appbartimercheck: "\ea33";
$ms-icon-appbartimerforward: "\ea34";
$ms-icon-appbartimerpause: "\ea35";
$ms-icon-appbartimerplay: "\ea36";
$ms-icon-appbartimerrecord: "\ea37";
$ms-icon-appbartimerrewind: "\ea38";
$ms-icon-appbartimerstop: "\ea39";
$ms-icon-appbartimer: "\ea3a";
$ms-icon-appbartools: "\ea3b";
$ms-icon-appbartournamentbracketdown: "\ea3c";
$ms-icon-appbartournamentbracketleft: "\ea3d";
$ms-icon-appbartournamentbracketright: "\ea3e";
$ms-icon-appbartournamentbracket: "\ea3f";
$ms-icon-appbartournamentbracketup: "\ea40";
$ms-icon-appbartower: "\ea41";
$ms-icon-appbartrain: "\ea42";
$ms-icon-appbartraintrack: "\ea43";
$ms-icon-appbartraintunnel: "\ea44";
$ms-icon-appbartransformfliphorizontal: "\ea45";
$ms-icon-appbartransformflipvertical: "\ea46";
$ms-icon-appbartransformrotateclockwise: "\ea47";
$ms-icon-appbartransformrotatecounterclockwise: "\ea48";
$ms-icon-appbartransformrotateleft: "\ea49";
$ms-icon-appbartransformrotateright: "\ea4a";
$ms-icon-appbartransitarrive: "\ea4b";
$ms-icon-appbartransitbus: "\ea4c";
$ms-icon-appbartransitcaraccident: "\ea4d";
$ms-icon-appbartransitcar: "\ea4e";
$ms-icon-appbartransitcongestion: "\ea4f";
$ms-icon-appbartransitconnectiondeparture: "\ea50";
$ms-icon-appbartransitconnection: "\ea51";
$ms-icon-appbartransitconstruction: "\ea52";
$ms-icon-appbartransitdepart: "\ea53";
$ms-icon-appbartransitdistancefrom: "\ea54";
$ms-icon-appbartransitdistanceto: "\ea55";
$ms-icon-appbartransithazard: "\ea56";
$ms-icon-appbartreeleaf: "\ea57";
$ms-icon-appbartreeleafthree: "\ea58";
$ms-icon-appbartreepine: "\ea59";
$ms-icon-appbartree: "\ea5a";
$ms-icon-appbartrophy: "\ea5b";
$ms-icon-appbartruck: "\ea5c";
$ms-icon-appbartux: "\ea5d";
$ms-icon-appbartvnews: "\ea5e";
$ms-icon-appbartvremote: "\ea5f";
$ms-icon-appbartv: "\ea60";
$ms-icon-appbartvsyfy: "\ea61";
$ms-icon-appbarundocurve: "\ea62";
$ms-icon-appbarundopoint: "\ea63";
$ms-icon-appbarundo: "\ea64";
$ms-icon-appbarunlockkeyhole: "\ea65";
$ms-icon-appbarunlock: "\ea66";
$ms-icon-appbarupload: "\ea67";
$ms-icon-appbarusbdrive: "\ea68";
$ms-icon-appbarusb: "\ea69";
$ms-icon-appbaruseradd: "\ea6a";
$ms-icon-appbaruserdelete: "\ea6b";
$ms-icon-appbaruserminus: "\ea6c";
$ms-icon-appbaruser: "\ea6d";
$ms-icon-appbarusertie: "\ea6e";
$ms-icon-appbarvectorcircle: "\ea6f";
$ms-icon-appbarvectorgroupremoved: "\ea70";
$ms-icon-appbarvectorgroup: "\ea71";
$ms-icon-appbarvectorlinecurve: "\ea72";
$ms-icon-appbarvectorlinespline: "\ea73";
$ms-icon-appbarvectorline: "\ea74";
$ms-icon-appbarvectorpenadd: "\ea75";
$ms-icon-appbarvectorpenconvert: "\ea76";
$ms-icon-appbarvectorpenminus: "\ea77";
$ms-icon-appbarvectorpen: "\ea78";
$ms-icon-appbarvectorpolygon: "\ea79";
$ms-icon-appbarvectorrectangle: "\ea7a";
$ms-icon-appbarvectorstar: "\ea7b";
$ms-icon-appbarvideogallery: "\ea7c";
$ms-icon-appbarvideohighdefinition: "\ea7d";
$ms-icon-appbarvideosend: "\ea7e";
$ms-icon-appbarvideostandarddefinition: "\ea7f";
$ms-icon-appbarvideo: "\ea80";
$ms-icon-appbarviplowercase: "\ea81";
$ms-icon-appbarvip: "\ea82";
$ms-icon-appbarvisualstudionews: "\ea83";
$ms-icon-appbarvisualstudio: "\ea84";
$ms-icon-appbarwarningcircle: "\ea85";
$ms-icon-appbarwarning: "\ea86";
$ms-icon-appbarwaterdropletalert: "\ea87";
$ms-icon-appbarwaterdropletreflection: "\ea88";
$ms-icon-appbarwaterdroplet: "\ea89";
$ms-icon-appbarweatherchance: "\ea8a";
$ms-icon-appbarweatherovercast: "\ea8b";
$ms-icon-appbarweatherrain: "\ea8c";
$ms-icon-appbarweathersnow: "\ea8d";
$ms-icon-appbarweatherstation: "\ea8e";
$ms-icon-appbarweathersunrise: "\ea8f";
$ms-icon-appbarweathersunset: "\ea90";
$ms-icon-appbarweathersun: "\ea91";
$ms-icon-appbarweathersymbol: "\ea92";
$ms-icon-appbarweatherthunder: "\ea93";
$ms-icon-appbarwebcam: "\ea94";
$ms-icon-appbarwindowcasementclosed: "\ea95";
$ms-icon-appbarwindowcasement: "\ea96";
$ms-icon-appbarwindowclosed: "\ea97";
$ms-icon-appbarwindowmaximize: "\ea98";
$ms-icon-appbarwindowminimize: "\ea99";
$ms-icon-appbarwindowrestore: "\ea9a";
$ms-icon-appbarwindowsimple: "\ea9b";
$ms-icon-appbarwindow: "\ea9c";
$ms-icon-appbarwindowsphone: "\ea9d";
$ms-icon-appbarxbox: "\ea9e";
$ms-icon-appbaryoutubeplay: "\ea9f";
$ms-icon-appbaryoutube: "\eaa0";
$ms-icon-appbarzune: "\eaa1";
